<fieldset>
    <legend>Challenge</legend>
    <label title="The text describing the challenge shown to the player.">
        Description
        <input [(ngModel)]="challenge.description" type="text">
    </label>
    <label title="The way the player beats the challenge.">
        Objective
        <select [(ngModel)]="challenge.objective">
            <option *ngFor="let item of Enums.ChallengeGoal | statics" [value]="item.key">{{item.value}}</option>
        </select>
    </label>
    <label title="Used by some objectives.">
        Objective subtype
        <select [(ngModel)]="challenge.objectiveSubtype">
            <option *ngFor="let item of Enums.GoalSubtype | statics" [value]="item.key">{{item.value}}</option>
        </select>
    </label>
    <label title="Used by some objectives to specify an amount of a stat that the player needs to reach/avoid">
        Objective Goal
        <input [(ngModel)]="challenge.objectiveGoal" type="number">
    </label>
    <label title="If this is true, the challenge will be continually checked throughout the game and will be classed as completed if it is ever met. If false it is only checked at the end. Defaults to false.">
        Objective Checked During Game
        <input [(ngModel)]="challenge.objectiveCheckedDuringGame" type="checkbox">
    </label>
    <label title="The way this challenge is failed. This will always override the objective if it's met.">
        Failure Condition
        <select [(ngModel)]="challenge.failureCondition">
            <option *ngFor="let item of Enums.ChallengeFailureGoal | statics" [value]="item.key">{{item.value}}</option>
        </select>
    </label>
    <label title="Used by some failure conditions">
        Failure Condition Type
        <select [(ngModel)]="challenge.failureConditionType" name="failureConditionType">
            <option *ngFor="let item of Enums.GoalSubtype | statics" [value]="item.key">{{item.value}}</option>
        </select>
    </label>
    <label title="Used by the failure condition as specified above.">
        Failure Amount
        <input [(ngModel)]="challenge.failureAmount" type="number" name="challengeStars[0][failureAmount]">
    </label>
    <label title="If this is true, the challenge will be continually checked throughout the game and will be classed as failed if this is ever met. If false it is only checked at the end. Defaults to false.">
        Failure Checked During Game
        <input [(ngModel)]="challenge.failureCheckedDuringGame" type="checkbox" name="challengeStars[0][failureCheckedDuringGame]">
    </label>
    <fieldset *ngIf="challenge.cardPredicates != null && challenge.cardPredicates.length > 0">
        <legend title="A list of predicates used when determining deck restrictions/card based objectives. You can have as many of these as you want, and if any card in the player's deck matches any of them then they won't pass the deck restriction. Each predicate must include">Card Predicates</legend>
        <!-- TODO: Card Predicate Component -->
        <!--
        <label title="The value of the card we're testing against.">
            Predicate Type
            <select name="challengeStars[0][cardPredicates][0][predicateType]">
                <option value="SPECIFIC">SPECIFIC</option>
                <option value="TYPE">TYPE</option>
                <option value="FAMILY">FAMILY</option>
                <option value="ATTACK">ATTACK</option>
                <option value="HEALTH">HEALTH</option>
                <option value="COST">COST</option>
                <option value="REWARD_ATTACK">REWARD_ATTACK</option>
                <option value="REWARD_HEALTH">REWARD_HEALTH</option>
                <option value="REWARD_GOLD">REWARD_GOLD</option>
                <option value="REWARD_ARMOUR">REWARD_ARMOUR</option>
                <option value="REWARD_WEAPON_DURABILITY">REWARD_WEAPON_DURABILITY</option>
                <option value="REWARD_WEAPON_ATTACK">REWARD_WEAPON_ATTACK</option>
                <option value="AGGRESSIVE">AGGRESSIVE</option>
            </select>
        </label>
        <label title="">
            Predciate Eval
            <select name="challengeStars[0][cardPredicates][0][predicateEval]">
                <option value="EQUALS">EQUALS</option>
                <option value="NOT_EQUALS">NOT_EQUALS</option>
                <option value="GREATER_THAN">GREATER_THAN</option>
                <option value="LESS_THAN">LESS_THAN</option>
                <option value="GREATER_OR_EQUAL">GREATER_OR_EQUAL</option>
                <option value="SMALLER_OR_EQUAL">SMALLER_OR_EQUAL</option>
            </select>
        </label>
        <label title="The number we're actually testing against">
            Predicate Value
            <input type="number" name="challengeStars[0][cardPredicates][0][predicateValue]">
        </label>
        -->
    </fieldset>
</fieldset>