<label title="Starting Health">
    Health
    <input [(ngModel)]="legend.health" type="number">
</label>
<label title="Maximum Health">
    Max Health
    <input [(ngModel)]="legend.maxHealth" type="number">
</label>
<label title="Starting Attack">
    Attack
    <input [(ngModel)]="legend.attack" type="number">
</label>
<label title="Starting Gold">
    Gold
    <input [(ngModel)]="legend.gold" type="number">
</label>
<label title="Starting Armour">
    Armour
    <input [(ngModel)]="legend.armour" type="number">
</label>
<label title="The attack of the hero's weapon (if both this and the durability are 0 then the hero won't start with a weapon)">
    Weapon Attack
    <input [(ngModel)]="legend.weaponAttack" type="number">
</label>
<label title="The starting durability of the hero's weapon (if both this and the attack are 0 then the hero won't start with a weapon)">
    Weapon Durability
    <input [(ngModel)]="legend.weaponDurability" type="number">
</label>