<label title="This is the title of the level shown on the campaign's level selection menu.">
    Name
    <input [(ngModel)]="level.name" type="text" name="name" required>
</label>
<label title="This is the description of the level, shown on the campaign's level selection menu.">
    Description
    <input [(ngModel)]="level.description" type="text" name="description" required>
</label>
<label title="Whether this level allows the user to mulligan at the beginning of the game. This will default to true if you don't specify it.">
    Allow Mulligan
    <input [(ngModel)]="level.allowMulligan" type="checkbox" name="allowMulligan" checked>
</label>
<label title="This determines if the player will go first or second during this game.">
    Player Turn (First/Second)
    <select [(ngModel)]="level.playerTurnPriority" name="playerTurnPriority">
        <option *ngFor="let item of Enums.FirstTurnType | keys" [value]="item.key">{{item.value}}</option>
    </select>
</label>
<label title="This defaults to true. If it's false, players won't be allowed to use their own custom decks or the basic decks to play this level and instead will have to use one of the decks you have provided.">
    Allow User Decks 
    <input [(ngModel)]="level.allowUserDecks" type="checkbox" name="allowUserDecks" checked>
</label>

<button (click)="addPlayerDeck()">Add Player Deck</button>
<fieldset *ngFor="let playerDeck of level.playerDecks">
    <legend>PLAYER DECK</legend>
    <label title="A list of card IDs">
        Cards
        <chronicle-campaign-player-deck [deck]="playerDeck"></chronicle-campaign-player-deck>
    </label>
</fieldset>

<fieldset>
    <legend title="This allows you to change the starting stats of the player's hero. They all default to their values in a regular game of Chronicle if you don't include them. you can change the following properties">Player Hero</legend>
    <chronicle-campaign-legend [legend]="level.playerHero"></chronicle-campaign-legend>
</fieldset>

<fieldset>
    <legend>Opponent</legend>
    <label title="How difficult the AI will be. You can choose between EASY, NORMAL, or HARD (these equate to the Bronze, Silver and Hard level AI in practice mode).">
        Opponent Difficulty
        <select [(ngModel)]="level.opponentDifficulty" name="opponentDifficulty" required>
            <option *ngFor="let item of Enums.Difficulty | statics" [value]="item.key">{{item.value}}</option>
        </select>
    </label>
    <label title="A list of card IDs that makes up the opponent's deck. Use this list to determine which IDs you need.">
        Opponent Deck
        <chronicle-campaign-deck [deck]="level.opponentDeck"></chronicle-campaign-deck>
    </label>
    <fieldset>
        <chronicle-campaign-legend [legend]="level.opponentHero"></chronicle-campaign-legend>
    </fieldset>
    
    <label title="Use this to specify a card ID which should be used as the opponent's legend rather than the normal legends (eg the Drunken Pirate in the first level of the Trials of Radimus campaign). If you leave this out then the opponent will default to the legend you specify in opponentHero. NOTE: Only the cards already used as opponents in the existing official campaigns will have full animation.">
        Avatar ID
        <chronicle-campaign-card [(card)]="level.opponentAvatarOverride"></chronicle-campaign-card>
    </label>
    <label title="Use this to choose which badge your opponent will display next to their name.">
        Emblem ID
        <chronicle-campaign-card [(card)]="level.opponentEmblemOverride"></chronicle-campaign-card>
    </label>
    <label title="Use this to chose the title your opponent will display under their name">
        Title
        <input [(ngModel)]="level.opponentTitleOverride" type="text" name="opponentTitleOverride">
    </label>
    <label title="The dialog message used at the start of the match">
        Intro Dialog
        <input [(ngModel)]="level.introDialogue" type="text" name="introDialogue">
    </label>
</fieldset>