
<label title="This is the name of your campaign, and will be displayed on the campaign menu if you don't provide a logo.">
    Name
    <input [(ngModel)]="campaign.name" type="text" name="name" required>
</label>
<label title="This description is shown in game to tell players what to expect in this campaign.">
    Description
    <input [(ngModel)]="campaign.description" type="text" name="description" required>
</label>
<label title="This is the exact filename of the image you would like to use for your campaign logo. This image should be in PNG or JPG format and ideally should be 1024x1024 pixels.">
    Title Image
    <input [(ngModel)]="campaign.customTitleImage" type="image" name="customTitleImage">
</label>
<label title="This is the exact filename of the image you would like to use as the page texture in the Chronicle book in game on the campaign menu. This texture should be in PNG or JPG format and should be similar to the example template image you can find here">
    Page Texture
    <input [(ngModel)]="campaign.customPageTexture" type="image" name="customPageTexture">
</label>