<fieldset>
    <legend>Page Template</legend>
    <label title="This determines the order the pages are shown in. You first page should be id 0, the second id 1 etc.">
        ID
        <input [(ngModel)]="template.id" type="number" required>
    </label>
    <label title="Which map you would like this page to take place on The options here are:">
        Map ID
        <select [(ngModel)]="template.mapId" required>
            <option *ngFor="let item of Enums.MapId | keys" [value]="item.key">{{item.value}}</option>
        </select>
    </label>
    <fieldset>
        <legend title="A list of cards that automatically placed in the player's card slots this page. 0 denotes an empty space where the player can place cards normally.">Pinned Cards</legend>
        <label>
            Slot 1
            <chronicle-campaign-card [(card)]="template.pinnedCards[0]"></chronicle-campaign-card>
        </label>
        <label>
            Slot 2
            <chronicle-campaign-card [(card)]="template.pinnedCards[1]"></chronicle-campaign-card>
        </label>
        <label>
            Slot 3
            <chronicle-campaign-card [(card)]="template.pinnedCards[2]"></chronicle-campaign-card>
        </label>
        <label>
            Slot 4
            <chronicle-campaign-card [(card)]="template.pinnedCards[3]"></chronicle-campaign-card>
        </label>
    </fieldset>
    <fieldset>
        <legend title="A list of cards the player will draw this page instead of random cards from their deck. If you don't give this list then the player will draw normally.">Cards to Draw</legend>
        <button (click)="addCardToDraw()">Add Card To Draw</button>
        <chronicle-campaign-card *ngFor="let item of template.cardsToDraw" [card]="item"></chronicle-campaign-card>
    </fieldset>
    <label title="If this is false the opponent won't draw any cards this round other than what is specified in opponentCardsToDraw">
        Opponent Draws Normally
        <input [(ngModel)]="template.opponentDrawsNormally" type="checkbox" name="pageTemplates[0][opponentDrawsNormally]">
    </label>
    <fieldset>
        <legend title="A list of cards the opponent should draw (on top of their regular draw). You can use -1 in this list to denote that another card should be drawn from the opponent's deck.">Opponent Cards to Draw</legend>
        <button (click)="addOpponentCardToDraw()">Add Opponent Card To Draw</button>
        <chronicle-campaign-card *ngFor="let item of template.opponentCardsToDraw" [card]="item"></chronicle-campaign-card>
    </fieldset>
    <fieldset>
        <legend title="A list of card the opponent will automatically play in the given order. Use 0 to denote a slot should remain empty, and -1 to denote that the AI should pick a card from their hand to put here.">Opponent Cards to Play</legend>
        <label>
            Slot 1
            <chronicle-campaign-card [(card)]="template.opponentCardsToPlay[0]"></chronicle-campaign-card>
        </label>
        <label>
            Slot 2
            <chronicle-campaign-card [(card)]="template.opponentCardsToPlay[1]"></chronicle-campaign-card>
        </label>
        <label>
            Slot 3
            <chronicle-campaign-card [(card)]="template.opponentCardsToPlay[2]"></chronicle-campaign-card>
        </label>
        <label>
            Slot 4
            <chronicle-campaign-card [(card)]="template.opponentCardsToPlay[3]"></chronicle-campaign-card>
        </label>
    </fieldset>
    <label title="If this is true, the cards listed int opponentCardsRevealed will be shown on the board during the build phase.">
        Opponent Cards Revealed
        <input [(ngModel)]="template.opponentCardsRevealed" type="checkbox" name="pageTemplates[0][opponentCardsRevealed]">
    </label>
</fieldset>